.quiz__button{
  display: block;
  width: 15rem; 
  padding: 5px;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  background-color: transparent;
  text-align: center;
  color: #fff;
 }
 
 .quiz__button:hover{
   background-color: rgba(255, 255, 255, 0.2);
   cursor: pointer;
   box-shadow: 0 0 0.5rem #fff;
 }
 
 .quiz__button:active{
   background-color: rgba(255, 255, 255, 0);
 }

